// variables
$white: #ffffff;
$black: #000000;
$red: #c80e24;
$dark-grey: #1e252b;
$grey: #333333;
$some-grey: #c4c4c4;
$light-blue: #2b3b45;
$cold: #3eb5f1;
$blue: #92e8fe;
$green: #70c446;
$dark-green: #2d4934;
$brown: #301103;
$font-Roboto: 'Roboto', sans-serif;
//===========================================================================
//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
//===========================================================================
//helpers
@import "helpers/media-queries";
@import "helpers/_svg";
//blocks
@import "blocks/cards";
@import "blocks/currency";
//===========================================================================
//common styles
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  font-family: $font-Roboto;
}

.container {
  max-width: 985px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.red {
  color: $red!important;
}
//===========================================================================
//custom styles
.exchange {
  padding: 70px 15px 144px;
  background-color: $dark-grey;
  background-image: url("../img/bgd_img.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
